body {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    align-items: stretch;
}

#header {
    background-color: #8a8a8a;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#content-container {
    display: flex;
    flex: 1;
    height: 85%;
    background-color: #7d3535;
}

.person-data-container {
    background-color: #523b3b;
    flex: 1;
    border: 0.5px solid #2b2b2b;
}

#load-btn {
    display: block;
    margin: auto;
    background-color: #48aece;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(70, 70, 70, 0.7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #1f313f;
    cursor: pointer;
}

.flex-row {
    flex: 1 1 100%;
    /* background-color: yellow; */
}

#load-btn:hover,
#load-btn:focus {
    background-color: #136083;
    color: #9ed7e7;
}

#load-btn:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}